/* Header */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.img-group1 {
  height: 20px;
  width: 20px;
}

.contact-num {
  display: flex;
  align-items: center;
}

#contactimg {
  margin-right: 10px;
}

.signs {
  display: flex;
  gap: 15px;
}

.contact {
  display: flex;
  gap: 50px;
}

.vertical{
  border-left: 2px solid grey;
  height: 30px;
  position: absolute;
  top: 14%;
  right: 13%;
}


/* Container1 */
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  width: 100%;
  box-sizing: border-box;
}

.links li a {
  text-decoration: none;
  color: black;
}

.links li a:hover {
  color: rgb(250, 200, 0);
}

.links li {
  margin: 15px;
}

.links{
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.menu-icon{
  margin-left: 70px;
}

#menu-toggle{
  display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
  display: flex;
  flex-direction: column;
}

#menu-toggle:checked + .menu-icon + .menu .links {
  flex-direction: column;
}

/* Container2 */
.Container2 {
  display: flex;
  width: 100%;
  position: relative;
}

.Container2-text {
  position: absolute;
  top: 50%;
  left: 35%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: white;
}

.Container2-text h1 {
  font-size: 65px;
  margin-bottom: 0%;
}

.Container2-text p {
  font-size: 19px;
}

#img1 {
  width: 100%;
}

.Container2-btn {
  display: flex;
  gap: 20px;
}

.btn {
  padding-bottom: 0%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  font-weight: 700;
  color: aliceblue;
  border: 0cap;
}

.read {
  background-color: rgb(250, 200, 0);
  transition: background-color 1s;
}

.read:hover{
   background-color: grey;
}

.contact1:hover{
    background-color: grey;
} 

.contact1 {
  text-align: center;
  background-color: black;
  transition: background-color 1s;
}

/* Container3 */
.Container3 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
}

.detailImgs {
  height: 100px;
  width: 100px;
}

/* Container4 */
.Container4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: grey;
}

.Container4 img {
  position: absolute;
  top: 56px;
  left: 17%;
}

.Container4-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 5%;
}

.Container4-text h1 {
  font-size: 55px;
  margin-bottom: 0;
  color: white;
}

#arch {
  color: rgb(250, 200, 0);
}

#option1 {
  height: 50px;
  width: 50px;
}

.option-class {
  display: flex;
}

.options {
  gap: 1px;
}

.option-para p {
  margin-top: 0;
}

.option-para h3 {
  margin-bottom: 0%;
}

/* Container5 */
.Container5-videos {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.Container5 {
  padding: 100px 10%;
  box-sizing: border-box;
}

.Container5 h1 {
  font-weight: 800;
}

#continue {
  text-decoration: none;
  color: rgb(250, 200, 0);
}

/* Container6 */
.Container6 {
  position: relative;
  padding: 100px 20%;
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  background-color: grey;
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  margin-bottom: -25px;
}

.Container6 h3 {
  margin-bottom: 0;
}

.Container6 h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.Container6-arrows {
  display: flex;
  gap: 6px;
  justify-content: center;
  border-top: 0;
}

.Container6-arrows img {
  height: 25px;
}

.Container6-arrows button {
  background-color: grey;
  border-style: none;
}

/* Container7 */
.Container7 {
  background-color: rgb(250, 200, 0);
  margin-bottom: -25px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  box-sizing: border-box;
  gap: 10px;
}

.subscribe-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.subscribe-container input {
  height: 45px;
  width: 80%;
}

.subscribe {
  background-color: black;
  transition: background-color 1s;
}

.subscribe:hover{
    background-color: grey;
}

.Container7-text h1 {
  margin-bottom: 0;
}

.Container7-text p {
  margin-top: 0;
}

/* container8 */
.Container8 {
  color: white;
  background-color: black;
  margin-bottom: -25px;
  display: flex;
  padding: 100px 10%;
  justify-content: space-between;
  gap: 100px;
  box-sizing: border-box;
}

.Container8 h1 {
  font-size: 15px;
}

.Container8-images {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
}

.Container8 h2 {
  font-size: 14px;
}

.Container8-para {
  font-size: 10px;
}

#Container8-paraid {
  margin: 0;
}

.Container8-para1 {
  font-size: 8px;
}

.Container8-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Container8-posts h2 {
  color: rgb(250, 200, 0);
}

.Container8-twitter {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Container8-twitter img {
  align-self: flex-start;
}

.instagram-div {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

/* Container9 */
.Container9 {
  background-color: rgb(63, 62, 62);
  color: white;
  display: flex;
  justify-content: left;
  padding-left: 10%;
  margin-bottom: -25px;
}

#instagram-div1 {
  margin-bottom: 5%;
}

.image-div {
  height: 80px;
  width: 150px;
  background-color: white;
}

.image-div2 {
  height: 90px;
  width: 100px;
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0%;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .header1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .contact {
    font-size: smaller;
    flex-direction: column;
    gap: 0;
    margin-bottom: 5%;
  }

  .signs {
    margin-bottom: 5%;
  }

  .Container {
    margin-top: 7%;
    margin-bottom: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: none;
    /* flex-direction: column;
        gap: 0;
        margin-bottom: 0;
        padding-bottom: 0; */
  }

  .links li a {
    font-size: smaller;
  }

  .links li {
    margin: 0%;
  }

  .Container2-text {
    margin-left: 10%;
  }

  .Container2-text p {
    font-size: 20px;
    color: black;
  }

  .btn {
    margin-top: 0;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 65px;
    font-weight: 400;
  }

  #img1 {
    height: 250px;
  }

  .Container3 {
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .Container4-text {
    color: black;
    position: absolute;
    top: 0;
    left: 25%;
  }

  .Container4-text h1 {
    color: black;
  }

  .Container4 {
    height: 560px;
  }

  .Container4 img {
    position: absolute;
    top: 115px;
  }

  .Container5-videos {
    flex-direction: column;
  }

  .Container5-videos img {
    width: 100%;
  }

  .Container5 {
    padding-top: 10%;
    padding-bottom: 0;
  }

  .Container6 {
    height: 450px;
    padding-top: -50%;
    /*padding-bottom: 1%;  */
  }

  .Container6-arrows img {
    height: 15px;
  }

  .Container7 {
    flex-direction: column;
    height: 250px;
    /* padding-bottom: 50%; */
  }

  .subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subscribe {
    height: 50px;
    width: 100px;
  }

  .Container7-text h1 {
    font-size: smaller;
  }

  .Container7-text p {
    font-size: smaller;
  }

  .Container8 {
    flex-direction: column;
    padding-top: 3px;
    gap: 5%;
  }

  .vertical{
    display: none;
  }
}

/* Media query for tablets below desktop */
@media (max-width: 1200px) {
  .links {
    gap: 1%;
  }

  .links li a {
    font-size: 10px;
  }

  .Container2-text h1 {
    display: none;
  }

  .Container2-text p {
    color: black;
  }

  .Container4-text h1 {
    color: black;
  }

  .Container4-text {
    color: black;
  }

  .Container4 {
    height: 600px;
  }

  .Container4 img {
    position: absolute;
    top: 154px;
  }

  .Container5 {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .Container5-videos {
    flex-direction: column;
  }

  .Container7 {
    justify-content: center;
    align-items: center;
  }

  .Container7 h1 {
    margin-top: 0;
  }

  .Container8 {
    flex-direction: column;
    padding-top: 15px;
    gap: 5px;
  }

  .Container8-posts {
    justify-content: left;
  }
}
